.EndedTripItem{
    color: #17171B;
    border-radius: 20px;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    margin: 0 0 1.6rem 0;
    gap: 1rem;
    width: 100%;
}

.EndedTripItem:hover{
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.end-trip-container{
    width: 100%;
    position: relative;
}

.end-trip-img{
    top: 0;
    left: 0;
    width: 100%;
}

.end-trip-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
}

.end-trip-head{
    position: absolute;
    top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.end-trip-head h3{
    color: #525B65;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 1.2rem;
}

.end-trip-head p{
    color: #525B65;
    text-align: center;
    font-family: Orbit;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 1.2rem;
}

.end-trip-content{
    position: absolute;
    top: 25%;
    left: 3%;
    display: flex;
    gap: 1.2rem;
    width: 90%;
    height: 69%;
}

.end-trip-info{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0.9rem;
    width: 80%;
    align-items: flex-start;
    justify-content: flex-start;
}

.end-info-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #525B65;
}

.end-info-line h1{
    color: #525B65;
    font-family: 'Fredericka the Great';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.2rem 0;
}

.end-info-line h2{
    color: #525B65;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 1.6rem */
    margin: 0;
}


.main-image{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
}

.main-image-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #525B65;
}

/* 사진 그리드 */
.main-photo-cont{
    position: absolute;
    top: 68%;
    left: 44%;
    width: 58%; /* 부모 전체 너비를 사용하도록 설정 */
    z-index: 100;
  }

  .main-photo-grid {
    position: relative;
    margin-top: 0.4rem;
    margin: 0.4rem 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.2rem;
  }

  .main-photo-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 정사각형 비율 */
    border-radius: 0.3rem;
    overflow: hidden;
  }
  
  .main-photo-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
  }

  .shared-list{
    z-index: 999;
  }