.upcoming-trip-container{
    height: 22rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upcoming-trip-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.upcoming-album-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 14rem;
    position: relative; 
}

.upcoming-box-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.upcoming-box-img img{
    height: 12.6rem;
    width: 100%;
}

.upcoming-ticket-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.upcoming-ticket-content h1{
    color: #525B65;
    font-family: "Fredericka the Great";
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.upcoming-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upcoming-info-cont{
    width: 100%;
    z-index: 2;
    color: #525B65;
    display: flex;
    justify-content: center;
}

.upcoming-ticket-detail{
    display: flex;
    flex-direction: column;
    width: 71%;
    align-items: center;
    cursor: pointer;
}


.upcoming-box{
    left: 0;
    top: 0;
}

.upcoming-title-cont h2{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}

/* .active-album-head{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */


.date-box{
    display: flex;
    padding: 0 0.6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background: #E0DDD2;
    height: 1.5rem;
    margin-left: 1rem ;
}

.upcoming-title-cont{
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 1rem;
}

.upcoming-album-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbit';
    margin-bottom: 0.5rem;
    width: 100%;
}

.upcoming-album-date h5{
    font-size:1rem;
    font-style: normal;
    font-weight: 400;
    padding: 0.5rem 0;
    margin: 0;
}

.upcoming-trip-info{
    display: flex;
    flex-direction: column;
    top: 30%;
    gap: 1.3rem;
}

.upcoming-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1.1rem;
}

.upcoming-item{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #525B65;
    justify-content: space-between;
    width: 10rem;
}

h5.right-date{
    margin-right: 1rem ;
}

.upcoming-box{
    width: auto;
    text-align: right;
    color: #525B65;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}

.ticket-icon{
    width: 1.6rem;
    height: auto;
}

.ticket-icon.big{
    height: 1.5rem;
    width: auto;
}

.info-box span{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.goto-edit-btn{
    width: 100%;
    cursor: pointer;
}

.goto-edit{
    width: 26%;
    margin: 0.2rem 0.8rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.goto-edit-btn{
    position: absolute;
    height: 9.2rem;
    width: 100%;
    z-index: -1;
}

.goto-edit-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    gap: 0.2rem;
}

.goto-edit-cont img{
    width: 4.2rem;
    height: 4.2rem;
    align-self: center;
    margin-top: 0.6rem;
}

.goto-edit-cont h6{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0.2rem 0 0 0;
}

.left-pic-num{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}