.select-place{
    padding: 9rem 0 0 0;
    color: #525B65;
    display: flex;
    background: #F6F6F5;
    flex-grow: 1; /* flex 컨테이너에서 남은 공간을 모두 채우도록 */
    overflow-y: auto; /* 이 영역에만 스크롤 적용 */
}

.select-place-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.select-place-cont h2 {
    color: #525B65;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 0 1rem 2.2rem;
}

/* 국내/해외 선택 */
.place-tab {
    display: flex;
    border-bottom: 0.1rem solid #E0DDD2;
    margin-bottom: 0.5rem;
    width: 100%;
}

.place-type-tab{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1.2rem;
}

.place-type-tab h3 {
    color: #525B65;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.2rem;
}

.place-type-tab.selected{
    border-bottom: 0.2rem solid #525B65;
}

.place-type-tab.selected h3 {
    font-weight: 700;
    color: #525B65;
}

.place-type-tab.unselected h3 {
    color: #999;
}

.country-select-bar {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    gap: 1rem;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.country-select-bar::-webkit-scrollbar {
    display: none;
}

.country-item{
    display: flex;
    padding: 0.6rem 2.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: #E0DDD2;
    color: #525B65;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.country-item.active {
    background-color: #525B65;
    color: white;
    font-weight: 600;
}

.city-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    margin: 0 2rem;
}

.city-content{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0;
}

.city-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}

.city-spots{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.checkbox-placeholder {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    flex-shrink: 0;
}

.checkbox-placeholder.checked {
    background-color: black;
    border-color: black;
    color: white;
}

.complete-btn-cont{
    background: #F6F6F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.complete-btn {
    border-radius: 3rem;
    border: 1px solid #525B65;
    background: #525B65;
    color: #E0DDD2;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    padding: 1.2rem;
    width: 80%;
}