.login {
  margin: 0 auto;
  /* min-height: 100svh; */
  max-width: 43rem;
  background: #fff;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo-login {
  width: 18rem;                        
  height: auto;
  display: block;
  margin: 6px auto 4px;
}

.lg-title {
  margin: 0.6rem 0 1.9rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
}

.social-btn {
  width: 180%;
  height: 5rem;
  border: none;
  border-radius: 0.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}

.social-icon {
  width: 2rem;
  height: 2rem;
}

.naver-login { 
  background: #09BE34; 
  color: #fff; 
}
.kakao-login { 
  background: #FFDD00; 
  color: #3c1e1e; 
}
.google-login { 
  background: #fff; 
  color: #333; 
  border: 1px solid #e5e5e5; 
}


/* .go-login {
  margin-top: 9rem;
  width: 160%;
  height: 5.2rem;
  border: 0;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background: #3A59FF;
  cursor: pointer;
} */
