.sp-content{
  flex: 1;
  margin-top: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.sp-title {
  margin: 1rem 0 0.8rem 0;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1.35;
}

.sp-sub {
  margin: 1.5rem ;
  margin-bottom: 6.5rem;
  font-size: 1.6rem;
  color: #5e5e5e;
  line-height: 1.6;
}

.sp-cta {
  margin-top: auto;
  width: 100%;
  height: 5.2rem;
  border: 0;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  background: #3A59FF;
  cursor: pointer;
}
